{{ define "editTaskForm" }}
    <li id="task-{{ .Id }}" class="m-2">        
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" name="task" value="{{ .Task }}" class="form-control"/>
                </div>
                <div class="col">
                    <label> Done / Undone</label>
                    <input type="checkbox" class="done-checkbox" name="done" {{ if .Done }} checked  {{ end }} />
                </div>
                <div class="col">
                    <button 
                        class="btn btn-success"
                        hx-post="/editTask/{{ .Id }}" 
                        hx-target="#task-{{ .Id }}" 
                        hx-swap="outerHTML"
                    > Save Task 
                    </button>
                    <button
                        class="btn btn-secondary"
                        hx-get="/cancelEditTask/{{ .Id }}" 
                        hx-target="#task-{{ .Id }}" 
                        hx-swap="outerHTML"
                    > Cancel 
                    </button>
                </div>
            </div>
        </form>
    </li>
{{ end }}