{{ define "header"}}
    <div>
       <ul>
            <li>
                <a>Shop</a>
                <ul>
                    <li><a>Fabric</a></li>
                    <li><a>Sewing Machines</a></li>
                    <li><a>Notions</a></li>
                </ul>
            </li>
            <li>
                <a>Learn</a>
                <ul>
                    <li><a>DIY Projects</a></li>
                    <li><a>Learn to Sew</a></li>
                    <li><a>Selection Guides</a></li>
                </ul>
            </li>
       </ul>
    </div>
{{ end }}