<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link href="/static/custom.css" rel="stylesheet">
    <link href="/static/output.css" rel="stylesheet">
    <title>HTMX Todo App</title>
</head>
<body>
    <header class="container">
        {{ template "header" }}
    </header>
    <main class="container mx-auto">
        <section class="">
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-6" id="searchBar">
                    {{ template "searchBar" }}
                </div>
                <div class="col-span-6" id="taskForm">
                    {{ template "addNewTaskForm" }}
                </div>

            </div>
        </section>
        <section>
            <div 
                id="todoList"
                hx-get="/tasks"
                hx-trigger="load"
                >
            </div>
        </section>
    </main>
    <footer class="container">
        {{ template "footer" }}
    </footer>
</body>

<script>
    document.addEventListener('htmx:afterSwap', function(evt) {
        console.log("HTMX content swapped:", evt.target);
    });
</script>
</html>
