{{ define "updateTaskForm" }}
    <form>
        <div class="row">
            <div class="col">
                <input type="text" name="task" value="{{ .Task }}" class="form-control"/>
            </div>
            <div>
                <input type="checkbox" name="done" {{ if .Done }} checked  {{ end }} />
            </div>
            <div class="col mt-4">
                <button 
                    class="btn btn-primary"
                    hx-post="/tasks"
                    hx-target="#todoList"
                >Save Task</button>
            </div>
        </div>
    </form>
{{ end }}